#rcorners2 {
    border-radius: 15px 50px 30px;
    background: #ffb7d2;
    padding: 2px;
}
.card{
    border: transparent;
}
.card:hover{
    border: 0.px dotted rgb(63, 4, 14);
    background-color: #f1fff9;
}

/* fonts */




